<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>LISTING DETAILS</h3>
<UL>
<LI><%=Listing.title%></LI>
<LI><%=Listing.description%></LI>
<LI> &#8377; <%=Listing.price.toLocaleString("en-IN")%></LI>
<LI><%=Listing.location%></LI>
<LI><%=Listing.country%></LI>


</UL>
<BR>

    <a href="/listings/<%=listings.id%>/edit">edit this listing</a>



</body>
</html>