<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>LISTING DETAILS</h3>
<UL>
<LI><%=Listing.title%></LI>
<LI><%=Listing.description%></LI>
<LI> &#8377; <%=Listing.price.toLocaleString("en-IN")%></LI>
<LI><%=Listing.location%></LI>
<LI><%=Listing.country%></LI>


</UL>
<BR>
<BUTton>
    <a href="/listings/<%=Listing._id%>/edit">edit this listing</a>
</BUTton>
<BR> <BR>
<form method="POST" action="/listings/<%=Listing._id%>?_method=DELETE">
    <button>delete this listings</button>
</form>

</body>
</html>